body {
    margin: 0;
    background-color: #002F7B;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg-light-navbar {
    --bs-bg-opacity: 1;
    background-color: #002662;
}

.nav-link-custom {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link-custom:hover {
    color: yellow;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #002662;
    background-clip: padding-box;
    border: 1px solid #FFF;
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: yellow;
    background-color: transparent;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: white;
    border: 0;
    opacity: 9.25;
}

.btn-search {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: darkturquoise;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-search:hover {
    background-color: rgba(0, 206, 209, 0.8);
}

.btn-cart {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #0B0B0B;
    border-color: #0B0B0B;
}

.btn-cart:hover {
    background-color: rgba(11, 11, 11, 0.8);
    color: yellow;
}

.btn-buy {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: green;
    border-color: green;
}

.btn-buy:hover {
    background-color: rgba(0, 128, 0, 0.8);
    color: yellow;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #004992;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.btn-user {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #0D6EFD;
    border-color: #0D6EFD;
}

.btn-user:hover {
    color: yellow;
}

.btn-delete {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #DC3545;
    border-color: #DC3545;
}

.btn-delete:hover {
    color: yellow;
}

.btn-gear {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #0DCAF0;
    border-color: #0DCAF0;
}

.btn-gear:hover {
    color: yellow;
}


.img-header {
    vertical-align: middle;
    width: 100%;
    height: 600px;
}

.bg-header {
    --bs-bg-opacity: 1;
    background-color: #002F7B;
}

.bg-footer {
    --bs-bg-opacity: 1;
    background-color: #001A44;
}

html {
    position: relative;
}

#class2 {
    background-color: #002662;
    border-radius: 15px;
    padding: 20px;
}

#login {
    background-color: #0354D7;
    text-align: left;
    color: white;
    padding: 0px 60px;
}

.label-custom {
    color: white;
    font-weight: 600;
}

.input-custom {
    background-color: #01378D;
    color: white;
    border: none;
}

.input-custom:focus {
    color: #fff;
    background-color: #01378D;
    border-color:#01378D;;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.75);
}

.alert-custom {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #015ADE;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.list-group-item-custom {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #0354D7;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    display: block;
}

.list-group-item-a:hover {
    color:yellow;
    display: block;
}

.test {
    color: #DC3545;
}